@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: #0050FF;
}

@font-face {
  font-family: 'Poppins';
  src: url('fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --dark-blue: #0050FF;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: black;
  background: white;
  font-family: 'Avenir Light', Arial, Helvetica, sans-serif;
}

/* Headings and Titles */
.title {
  font-family: 'Poppins', 'Avenir Dark', Arial, Helvetica, sans-serif;
}

.section-heading {
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 36px;
}

.box-heading {
  color: var(--dark-blue);
  font-size: 24px;
  line-height: 32px;
}

/* Section Boxes */
.section {
  margin-left: 160px;
  margin-right: 160px;
  padding-top: 80px;
}

.section-box {
  background-color: #fff;
  padding: 40px;
}

/* Buttons */
.button {
  border-radius: 9999px;
  font-weight: 700;
  border-width: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition-property: all;
  transition-duration: 500ms;
  text-transform: uppercase;
}

.button:hover {
  transition-delay: 150ms;
}

.blue-button {
  background-color: var(--dark-blue);
  color: white;
  border-color: var(--dark-blue);
}

.blue-button:hover {
  background-color: transparent;
  color: black;
}

.transparent-button {
  background-color: transparent;
  border-color: black;
}

.transparent-button:hover {
  background-color: var(--dark-blue);
  border-color: transparent;
  color: white;
}

/* Testing */
.test {
  border: 1px solid red;
}
